// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Wagon color

$red-wagon: #D23333;

// Primary Color

$primary-color: #b7e030;
$primary-Light: #ecff67;
$primary-dark: #83ae00;
$secondary-color: #ffc400;
$secondary-light: #fff64f;
$secondary-dark: #c79400;
