<div class="container m-3 p-3">
  <h1>Welcome to the Cocktail's Page !</h1>
</div>

<div class="container m-3 p-3">

  <div class="container justify-content-center"><%= cl_image_tag("c6a7ww4vq252s87lialq8w108xhl", alt: "test",
      width: 400, height: 300, crop: :fill) %>
  </div>


    <% @cocktails.each do |cocktail| %>
      <article>
      <h2><%= link_to cocktail.name, cocktail %></h2>
      </article>
    <% end %>
</div>

<div class="container m-3 p-3">
  <p><%= link_to '➕ Add a new Cocktail', new_cocktail_path, class:"btn btn-small btn-secondary" %></p>
  <p>Share your favorite cocktails <i class="fab fa-twitter-square"></i></p>
</div>
