<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= asset_path 'bannercocktail.jpg' %>)">
  <div class="home-title">
    <h1>Mister Cocktail</h1>
    <!-- p>Déguster et partager</p> -->
    <p>
        <span id="banner-typed-text"></span>
    </p>
    <div class="cta">
      <%= link_to "Nos recettes", cocktails_path, class: "btn-cta" %>
    </div>
  </div>
</div>
