// Profil Page

.card-profil {
  position: relative;
  margin: 20px auto;
  padding: 40px 0;
  display: block;
  text-align: center;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .profile-img {
    margin: 10px 8px;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.card-description {

}

.position-edit-favicon {
  position: absolute;
  top: 30px;
  right: 30px;
  #favicon-profile-edit {
    font-size: 24px;
    color: $secondary-color;
  }
}

.card-info {
  margin: 20px auto;
  padding: 40px 0;
  display: block;
  text-align: center;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// Cocktails Card Index

.container {
  display: block;
  text-align: center;
  justify-content: center;
}

.cocktail-container {
  margin: 20px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px 30px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .cocktail-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) {
  .cocktail-container { grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .cocktail-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.cocktail-card{
  height: 350px;
  min-width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cocktail-photo-card{
  object-fit: cover;
}

.coctail-name {
  padding: 20px;
  display: flex;
  .cocktail-name a {
    color: white;

  }
}
.cocktail-index-card-link {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  padding: 30px;
  text-align: center;
}
