// Profil Page

.card-profil {
  position: relative;
  margin: 100px 50px 25px 50px;
  padding: 40px 0;
  display: block;
  text-align: center;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .profile-img {
    margin: 10px 8px;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.card-description {

}

.position-edit-favicon {
  position: absolute;
  top: 30px;
  right: 30px;
  #favicon-profile-edit {
    font-size: 24px;
    color: $secondary-color;
  }
}

.card-info {
  margin: 40px 50px;
  padding: 40px 0;
  display: block;
  text-align: center;
  background-color: $secondary;
  color: white;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// Cocktails Card Index

.cocktail-card{
  height: 400px;
  width: 300px;
  // min-width: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 13px 12px 15px rgba(0,0,0,0.15);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.coctail-name {
  display: flex;
}

.cocktail-index-card-link {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  padding: 5px;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

// COCKTAIL SHOW CARDS _ CONTAINER

.cocktail-info-container {
  margin: 150px auto;
  width: 75%;
  max-width: 1000px;
  min-width: 565px;
  border-radius: 8px;
  box-shadow: 3px 14px 15px rgba(0,0,0,.14);
  display: flex;
  // margin: auto;
  position: relative;
  background-color: white;
  .link-add-ingredient {
    position: absolute;
    top: 4px;
    right: 90px;
  }
  .effect-container {
    position: absolute;
    width: 500px;
    height: auto;
    background-color: $primary-color;
    top: -2.2rem;
    right: 31.5rem;
    bottom: 2.6rem;
    z-index: -2;
  }
}

.cocktail-photo-left {
  width: 40%;

}

.cocktail-chapter-title {
  text-align: center;
  font-size: 18px;
  color: #666;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 2px;
}

.cocktail-line-title {
  display: block;
  width: 50px;
  height: 0;
  margin: 15px auto;
  border-bottom: 2px solid #ffc400;
}

.cocktail-info {
  width: 100%;
}

.cocktail-ingredients {
  line-height: 27px;
  vertical-align: baseline;
  margin-bottom: 55px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-grow: 1;
}

.quantity {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 25px;
}

.name {
  display: flex;
  justify-content: left;
  align-items: center;
}

.delete {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 25px;
}




