.container-fluid {
  margin-top: 70px;
  margin-bottom: 110px;
  padding: 15px;
}

// INDEX COCKTAILS

// .wrapper {
//  display: block;
//  text-align: center;
//  justify-content: center;
// }

.cocktail-wrapper {
  margin: 20px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px 10px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .cocktail-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) {
  .cocktail-wrapper { grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .cocktail-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1280px) {
  .cocktail-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
