.container-fluid {
  margin-top: 70px;
  margin-bottom: 110px;
  padding: 15px;
}

// INDEX COCKTAILS

.link-wrapper {
 text-align: right;
    margin: 15px 25px;
}

.cocktail-wrapper {
  // margin: 20px;
  padding-left: 10px;
  margin-right: 20px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px 10px;
  margin-bottom: 50px;
}

// SHOW COCKTAIL

.cocktail-cover-wrapper{
  width: 100%;
  height: 290px;
  position: relative;
  background-color: #b7e030;
}

.cocktail-cover{
  position: absolute;
  width: 100%;
  height: 90%;
  background-size: cover;
}

.cocktail-cover-title{
  display: flex;
  align-items: center;
  width: 100%;
}
