.container-fluid {
  margin-top: 70px;
  margin-bottom: 110px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

// INDEX COCKTAILS

.link-wrapper {
 text-align: right;
    margin: 15px 25px;
}

.cocktail-wrapper {
  // margin: 20px;
  padding-left: 10px;
  padding-right: 15px;
  // margin-right: 20px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px 5px;
  margin-bottom: 50px;
}

// SHOW COCKTAIL

.cocktail-cover-wrapper {
  width: 100%;
  height: 200px;
  position: relative;
  background: linear-gradient(#b7e030, #fff64f, #ffff, #fbfbfb);
  // &::after{
  //   content: '';
  //   position: absolute;
  //   display: block;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   height: 30%;
  //   background-color: white;
  //   opacity: 0.45;
  //   filter: blur(13px);
  // }
}

.cocktail-cover {
  position: absolute;
  width: 100%;
  height: 90%;
  background-size: cover;
}

.cocktail-cover-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
}
